venv/
trading-stats.code-workspace
cheapest-day/data/AAPL_4h.csv
cheapest-day/data/BTC_4h.csv
cheapest-day/.DS_Store
.DS_Store
swift_strategies/swift_strategies.xcodeproj/project.xcworkspace/xcuserdata/jannicmarcon.xcuserdatad/UserInterfaceState.xcuserstate
swift_strategies/swift_strategies.xcodeproj/xcuserdata/jannicmarcon.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
swift_strategies/swift_strategies.xcodeproj/xcuserdata/jannicmarcon.xcuserdatad/xcschemes/xcschememanagement.plist
Atlas.xcworkspace/xcuserdata/jannicmarcon.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
